### Imports

In [1]:
import pandas as pd
import requests
from requests.auth import HTTPDigestAuth
import json
from tqdm import tqdm

### Read data

In [2]:
restaurants = pd.read_csv('../data/clusteringAD.csv')
restaurants.head()

,business_id,name,stars,review_count,avg_checkins_weekday,avg_checkins_weekend,avg_checkins_Fri,avg_checkins_Mon,avg_checkins_Sat,avg_checkins_Sun,...,Bars,Canadian,Chinese,Italian,Japanese,American,Indian,Mexican,Thai,cuisines
0,Rh2smrKvcamnP8VBUgMI0Q,"""Dim Sum King Seafood Restaurant""",3.5,165,2.636364,7.731707,4.666667,3.285714,8.000000,9.933333,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,O_UC_izJXcAmkm6HlEyGSA,"""Playa Cabana""",4.0,363,3.959184,5.594595,5.272727,4.090909,6.583333,5.000000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0
2,5vgieFiCubi43G6ciiFhNQ,"""CC Lounge & Whisky Bar""",4.5,53,1.954545,2.923077,3.000000,1.500000,2.200000,3.857143,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0
3,LCb2moBNkcBto_32rmZJ5A,"""Echo Sushi""",4.0,147,2.612245,4.468750,4.454545,2.416667,5.000000,3.777778,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0
4,4kDLEb1OgE7IrO54lCkn3A,"""Cocina Economica""",4.0,117,2.250000,2.718750,2.000000,1.500000,3.909091,2.181818,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0

### API call

In [3]:
key = 'qlan12nw_e_trijd4S2wcHeXLtd9kyO5AX4IDAY5d20V5FB37KHWWD-pMEIf0jhxKF17CRcMW7F4vcxijRkiKhuG9-P0HYqdgX_w6X0RFxCEFAx6efHm8sjjmknKXXYx'
headers = {
        'Authorization': 'Bearer %s' % key,
    }

def get_business_attr(business_id, headers):
    url = 'https://api.yelp.com/v3/businesses/' + business_id
#     print(url)
    response = requests.request('GET', url, headers=headers)
    data = response.json()
    price = data['price']
    review = data['review_count']
    rating = data['rating']
    return [[business_id, price, int(review), rating]]

def main(restaurants, headers):
    df = pd.DataFrame([], columns = ['business_id', 'price', 'review', 'rating'])
    for b_id in tqdm(restaurants['business_id']):
        df_tmp = pd.DataFrame(get_business_attr(b_id, headers), \
                          columns = ['business_id', 'price', 'review', 'rating'])
        df = pd.concat([df, df_tmp])
    return df

In [4]:
df = main(restaurants, headers)
df_new = pd.merge(restaurants, df, 
         left_on = 'business_id', right_on = 'business_id', how = 'left')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 935/935 [07:45<00:00,  2.18it/s]

In [9]:
def encode_price(x):
    if x == '$':
        return 1
    elif x == '$$':
        return 2
    elif x == '$$$':
        return 3
    else:
        return 4
    
df_new['expensiveness'] = df_new['price'].apply( lambda x: encode_price(x))

In [13]:
df_new.drop(['price','stars', 'review_count'], axis  =1, inplace = True)

In [14]:
df_new.to_csv('../data/clusteringAD_new.csv', index = False)