### Imports

In [38]:
import pandas as pd
import requests
from requests.auth import HTTPDigestAuth
import json
from tqdm import tqdm

### Read data

In [5]:
restaurants = pd.read_csv('../data/clusteringAD.csv')
restaurants.head()

,business_id,name,stars,review_count,avg_checkins_weekday,avg_checkins_weekend,avg_checkins_Fri,avg_checkins_Mon,avg_checkins_Sat,avg_checkins_Sun,...,Bars,Canadian,Chinese,Italian,Japanese,American,Indian,Mexican,Thai,cuisines
0,Rh2smrKvcamnP8VBUgMI0Q,"""Dim Sum King Seafood Restaurant""",3.5,165,2.160000,6.650000,4.272727,2.428571,6.428571,8.600000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,O_UC_izJXcAmkm6HlEyGSA,"""Playa Cabana""",4.0,363,3.673469,5.405405,5.181818,3.818182,6.166667,4.928571,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0
2,5vgieFiCubi43G6ciiFhNQ,"""CC Lounge & Whisky Bar""",4.5,53,1.636364,2.761905,3.000000,1.500000,1.875000,3.571429,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0
3,LCb2moBNkcBto_32rmZJ5A,"""Echo Sushi""",4.0,147,2.437500,3.843750,4.090909,2.250000,4.083333,3.222222,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0
4,4kDLEb1OgE7IrO54lCkn3A,"""Cocina Economica""",4.0,117,2.047619,2.695652,2.200000,1.000000,3.777778,1.888889,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0

### API call

In [46]:
key = 'qlan12nw_e_trijd4S2wcHeXLtd9kyO5AX4IDAY5d20V5FB37KHWWD-pMEIf0jhxKF17CRcMW7F4vcxijRkiKhuG9-P0HYqdgX_w6X0RFxCEFAx6efHm8sjjmknKXXYx'
headers = {
        'Authorization': 'Bearer %s' % key,
    }

def get_business_attr(business_id, headers):
    url = 'https://api.yelp.com/v3/businesses/' + business_id
#     print(url)
    response = requests.request('GET', url, headers=headers)
    data = response.json()
    price = data['price']
    review = data['review_count']
    rating = data['rating']
    return [[business_id, price, int(review), rating]]

def main(restaurants, headers):
    df = pd.DataFrame([], columns = ['business_id', 'price', 'review', 'rating'])
    for b_id in tqdm(restaurants['business_id']):
        df_tmp = pd.DataFrame(get_business_attr(b_id, headers), \
                          columns = ['business_id', 'price', 'review', 'rating'])
        df = pd.concat([df, df_tmp])
    return df

In [47]:
df = main(restaurants, headers)
df_new = pd.merge(restaurants, df, 
         left_on = 'business_id', right_on = 'business_id', how = 'left')
df_new['review'] = df_new['review'].astype('int')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 936/936 [07:28<00:00,  1.44it/s]

In [61]:
df_new.drop(['stars', 'review_count'], axis  =1, inplace = True)

In [63]:
df_new.to_csv('../data/clusteringAD_new.csv', index = False)